Repository cloudfoundry/community, pull requests merged in 2022-08, with the labels that each got.

#333 [RFC] Formally track aspiring approvers as reviewers
  toc/rfc/rfc-formal-aspiring-approvers-as-reviewers.md
Labels: toc

#376 Move all org admins into TOC charter
  org/cloudfoundry.yml
  org/test_org_management.py
  toc/TOC.md
Labels: toc

#217 Add more Garden repos
  toc/working-groups/app-runtime-platform.md
Labels: toc, wg

#262 Add RFC to remove non-standard Github teams
  toc/rfc/rfc-draft-remove-nonstandard-github-teams.md
Labels: toc, wg

#375 Supersede RFC-0005 github teams and access
  toc/rfc/archived/rfc-0005-github-teams-and-access.md
  toc/rfc/rfc-draft-github-teams-and-access.md
Labels: toc

#378 Generate teams for WG area reviewers and bots
  org/org_management.py
  org/readme.md
  org/test_org_management.py
Labels: toc

#392 wg-service-management: add Ian Findlay to wg charter
  toc/working-groups/service-management.md
Labels: toc, wg

#391 wg-service-management: add Konstantin Semenov as area approver
  toc/working-groups/service-management.md
Labels: toc, wg

#393 wg-service-management: add area specific bots
  toc/working-groups/service-management.md
Labels: toc, wg

#368 Promote mkocher to ARP WG Logging & Metrics approver
  toc/working-groups/app-runtime-platform.md
Labels: wg

#394 Add Reviewer role to toc/ROLES.md
  toc/ROLES.md
Labels: toc

#324 [FI] Add Matthias as Reviewer in FI VM Lifecyle area
  toc/working-groups/foundational-infrastructure.md
Labels: wg
