Repository cloudfoundry/community, pull requests merged in 2022-07, with the labels that each got.

#322 [ARI] Update buildpacks team's repositories
  org/cloudfoundry.yml
  toc/working-groups/app-runtime-interfaces.md
Labels: toc, wg

#332 Update TOC according to 2022 elections
  org/cloudfoundry.yml
  org/contributors.yml
  toc/TOC.md
Labels: toc

#317 Enable generation of github teams for all WGs
  org/org_management.py
  org/test_org_management.py
Labels: toc

#319 [FI] Grant Approver status to Aram Price
  toc/working-groups/foundational-infrastructure.md
Labels: toc, wg

#323 [FI] Grant Approver status to Brian Cunnie
  toc/working-groups/foundational-infrastructure.md
Labels: wg

#306 Autoscaler WG: add Marcin Kubica
  org/cloudfoundry.yml
  toc/working-groups/app-runtime-interfaces.md
Labels: wg

#339 Run peribolos dump as extra job
  .github/workflows/org-management.yml
Labels: toc

#361 Urgent expansion of ARP garden approvers
  toc/working-groups/app-runtime-platform.md
Labels: toc

#365 Remove andy-paine from ARI WG
  org/cloudfoundry.yml
  toc/working-groups/app-runtime-interfaces.md
Labels: wg

#353 Add --allow-repo-archival to org automation
  .github/workflows/org-management.yml
Labels: toc

#354 [ARI] Add private `app-autoscaler-env-bbl-state` repo to ARI WG
  toc/working-groups/app-runtime-interfaces.md
Labels: toc, wg

#357 Add "missing" App Runtime Deployments repositories
  toc/working-groups/app-runtime-deployments.md
Labels: toc, wg

#340 [ARI] Archive `app-autoscaler-ci` and `app-autoscaler-ui`
  org/cloudfoundry.yml
  toc/working-groups/app-runtime-interfaces.md
Labels: toc, wg

#366 Move runtime repos to garden and networking
  toc/working-groups/app-runtime-platform.md
Labels: toc

#369 service-management: add new terraform-provider-csbpg repo
  org/cloudfoundry.yml
  toc/working-groups/service-management.md
Labels: toc, wg

#279 Add ARI RFC for Moving Buildpack Dependency Repositories to CFF AWS Accounts
  toc/rfc/app-runtime-interfaces/rfc-draft-move-buildpacks-dependencies-to-cff.md
Labels: toc

#360 working-groups/buildpacks: Add private repos, remove one
  toc/working-groups/app-runtime-interfaces.md
  toc/working-groups/app-runtime-platform.md
Labels: toc, wg

#370 Separate workflow for peribolos dump
  .github/workflows/org-management-peribolos-dump.yml
  .github/workflows/org-management.yml
Labels: toc
