Repository cloudfoundry/community, pull requests merged in 2023-10, with the labels that each got.

#695 Add Klaus to UAA
  org/contributors.yml
  toc/working-groups/foundational-infrastructure.md
Labels: wg

#699 chore: Officially archive the cf-drain-cli
  org/cloudfoundry.yml
  toc/working-groups/app-runtime-platform.md
Labels: toc

#702 Archive cflinuxfs3 and cflinuxfs3-release
  org/cloudfoundry.yml
  toc/working-groups/app-runtime-interfaces.md
Labels: toc

#701 Add adrianhoelzl-sap as approver for UAA project
  toc/working-groups/foundational-infrastructure.md
Labels: wg

#682 RFC - deprecate metrics agent
  toc/rfc/rfc-0021-deprecate-metrics-agent.md
Labels: toc, rfc

#706 Add go-uaa to foundational infrastructure
  org/cloudfoundry.yml
  toc/working-groups/foundational-infrastructure.md
Labels: toc

#708 New TF Provider for SQL Server
  org/cloudfoundry.yml
  toc/working-groups/service-management.md
Labels: toc, wg

#704 Add draft RFC for promoting and revoking wg leads
  toc/rfc/rfc-draft-promoting-or-revoking-wg-leads.md
Labels: toc, rfc

#705 RFC to add CF support for FIPS stemcells
  toc/rfc/rfc-draft-add-cf-supports-for-fips-stemcell.md
Labels: toc, rfc
