Repository cloudfoundry/community, pull requests merged in 2023-07, with the labels that each got.

#647 Add Metric Store Group as contributers
  toc/working-groups/app-runtime-platform.md
Labels: wg

#643 Archive resolvconf-manager projects
  org/cloudfoundry.yml
  toc/working-groups/foundational-infrastructure.md
Labels: toc

#654 Add Runtime Platform repos to App Runtime platform Github project
  toc/working-groups/app-runtime-platform.md
Labels: toc

#655 Update TOC.md with the TOC Chair
  toc/TOC.md
Labels: toc

#641 Add draft RFC for aggregate metric egress with OTel Collector
  toc/rfc/rfc-draft-aggregate-metric-egress-with-opentelemetry-collector.md
Labels: toc, rfc
