Repository cloudfoundry/community, pull requests merged in 2025-07, with the labels that each got.

#1216 Archive bosh-windows-acceptance-tests
  orgs/orgs.yml
  toc/working-groups/foundational-infrastructure.md
Labels: toc

#1231 Fix failing github sync settings action
  toc/TOC.md
Labels: toc

#1244 Add Stefan Yonkov as reviewer for cloudfoundry/cf-java-client
  toc/working-groups/app-runtime-interfaces.md
Labels: wg-ari

#1233 Add branch protection rules for SM WG
  orgs/branchprotection.yml
Labels: toc, wg

#1198 [RFC] Service Credential Binding Rotation for Apps
  toc/rfc/rfc-draft-service-binding-rotation.md
Labels: toc, rfc

#1218 Apply RFC0015 branch protection by default
  orgs/org_management.py
  orgs/test_org_management.py
  toc/rfc/rfc-0015-branch-protection.md
  toc/working-groups/app-runtime-deployments.md
  toc/working-groups/app-runtime-interfaces.md
  toc/working-groups/app-runtime-platform.md
  toc/working-groups/cf-on-k8s.md
Labels: toc, rfc

#1234 Remove Paul and Samia; add Stuart and Richard
  toc/working-groups/docs.md
Labels: toc

#1252 Add Teodora Nikolova and Tsvetelina Marinova as Approvers
  toc/working-groups/app-runtime-interfaces.md
Labels: wg-ari

#1222 RFC: Hash-based routing
  toc/rfc/rfc-draft-hash-based-routing.md
  toc/rfc/rfc-draft-hash-based-routing/ActivityDiagram.drawio.png
  toc/rfc/rfc-draft-hash-based-routing/EndpointRegistration.drawio.png
  toc/rfc/rfc-draft-hash-based-routing/HashRing.drawio.png
  toc/rfc/rfc-draft-hash-based-routing/problem.drawio.png
Labels: toc, rfc

#1247 Java Tools: Move lokowandtg from reviewer to approver
  toc/working-groups/app-runtime-interfaces.md
Labels: wg-ari
