Repository cloudfoundry/community, pull requests merged in 2025-02, with the labels that each got.

#1065 Remove myself as a tech lead for the CF on K8s WG
  toc/working-groups/cf-on-k8s.md
Labels: toc, wg-cf-on-k8s

#1064 Add UAA approver access to user fhanik
  toc/working-groups/foundational-infrastructure.md
Labels: wg-fi

#1047 Propose addition of Concourse working group
  toc/working-groups/WORKING-GROUPS.md
  toc/working-groups/concourse.md
Labels: toc

#1058 TOC checkpoint 1 for rfc-0032-cfapiv2-eol
  toc/rfc/rfc-0032-cfapiv2-eol.md
Labels: toc

#1062 Mandatory repository ownership check
  org/org_management.py
  org/test_org_management.py
Labels: toc

#1049 Bosh Release Property Validation RFC
  toc/rfc/rfc-draft-add-bosh-release-property-validation.md
Labels: toc, rfc

#1046 merge ARP networking and networking extensions area
  toc/working-groups/app-runtime-platform.md
Labels: wg-arp

#1076 Archive pcap-relase
  org/cloudfoundry.yml
  toc/working-groups/app-runtime-platform.md
Labels: toc

#1050 Add multiple github orgs RFC
  ORGS.md
  toc/ROLES.md
  toc/rfc/rfc-0002-github-members.md
  toc/rfc/rfc-0007-repository-ownership.md
  toc/rfc/rfc-0014-github-teams-and-access.md
  toc/rfc/rfc-draft-multiple-github-orgs.md
Labels: toc, rfc

#1069 Update of RFC 30
  toc/rfc/rfc-0030-add-support-for-file-based-service-binding.md
Labels: toc, rfc

#1054 [org][cf] Adjust temp prometheus admin team
  org/cloudfoundry.yml
Labels: toc

#1083 Ignore concourse WG in parsable-working-groups
  toc/working-groups/parsable-working-groups.sh
Labels: toc

#1086 Update Concourse WG info
  toc/working-groups/WORKING-GROUPS.md
Labels: toc

#1087 Add "brokerapi" repo to CloudFoundry
  org/cloudfoundry.yml
  toc/working-groups/service-management.md
Labels: toc

#1088 Add RFC tracking issue template
  .github/ISSUE_TEMPLATE/rfc-issue-template.md
Labels: toc

#1090 Remove admins for pcap and pcap-release
  org/cloudfoundry.yml
Labels: toc

#1079 Inactive users to be removed from ARI WG
  toc/working-groups/app-runtime-interfaces.md
Labels: wg-ari

#1092 update role
  toc/working-groups/app-runtime-interfaces.md
Labels: wg-ari

#1081 Make `joeeltgroth` CredHub repo approver
  toc/working-groups/foundational-infrastructure.md
Labels: wg-fi
